
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos de la pagina de inicio */
header{
    height: 100vh;
    background-image: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 100px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
header nav ul li{
    list-style: none;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

header nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;

    color: #272343;
    cursor: pointer;
}

header nav ul li .inicio{
    font-size: 2.5rem;
}


.contacto{
    display: block;
    float: right;
}
.contacto li a{
    color: black;

}
/* efecto hover sobre el menu */
.menu-link{
    position: relative;
    outline: none;
    border: none;
}

.menu-link::before,
.menu-link::after{
    border: 0 solid transparent;
    transition: all 250ms;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.inicio::before{
    border-top: 2px solid black;
    right: 0px;
    top: -5px;
}

.menu-link::after{
    border-bottom: 2px solid black;
    bottom: -5px;
    left: 0px;
}


.menu-link:hover::before,
.menu-link:hover::after{
    height: 100%;
    width: 100%;
}

/* estilos servicios */

.servicio-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.servicio-title{
    display: block;
    background-color: black;
    position: absolute;
    left: 0;
    width: 4rem;
    word-wrap: break-word;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    top: 150%;
    border-radius: 5px;
}

.servicio-title h2{
    font-size: 4rem;
    color: white;
}

.card-servicios img{
    border-radius: 5px;
    width: 40%;
}

.card-servicios{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.568);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);

    opacity: 0;
    transition: all 900ms ease-in-out;
}

#servicio1{
    transform: translateX(-100%);
}
#servicio2{
    transform: translateX(100%);
}
#servicio3{
    transform: translateX(-100%);
}
#servicio4{
    transform: translateX(100%);
}

.card-servicios:hover{
    transition: all 350ms ease-in-out;
    transform: scale(1.05);
}

.card-servicios article{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    padding-left: 0.5em;
}

.card-servicios h4, h4{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.servicio-descripcion h4{
    text-decoration-line: underline;    
}


/* estilos del formulario de servicio */

.form-title{
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: black;    
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 80vh;
    background-color: rgba(161, 161, 161, 0.1);
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 900ms ease-in-out;

    overflow: hidden;
}


form{
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 100%;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.747);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 3px;
    color: rgb(255, 255, 255);

    transform: scale(1.09);

    font-family: Arial, Helvetica, sans-serif;
}


input, textarea, select{
    outline: none;
    border: none;
    resize: none;
    border-bottom: 1px solid rgb(245, 245, 245);
    width: 80%;
    line-height: 40px;   
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

select{
    background-color: rgba(0, 0, 0, 0.603);
}
input::placeholder{
    color: rgb(255, 255, 255);
}

textarea::placeholder{
    color: rgb(255, 255, 255);
}

label{
    padding-bottom: 10px;
}
.enviar{
    outline: none;
    border: none;
    color: white;
    background: rgba(59, 52, 56, 0.8);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 10px;
    width: 30%;
    margin-top: 1rem;
    transition: all 300ms ease-in-out;
}

.enviar:hover{
    transform: scale(1.05);
}


/* estilos de la seccion nosotros */

.nosotros{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    background-image: url(/img/nosotros.jpg);

    overflow: hidden;
}

.nosotros-title{
    display: block;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    right: 0;
    width: 4rem;
    word-wrap: break-word;
    text-align: center;
    margin-right: 20px;
    padding: 20px;
    /* top: 430%; */
    border-radius: 5px;
}

.nosotros-title h2{
    font-size: 3rem;
    color: white;
}

.nosotros h3{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nosotros-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.origenes{
    width: 40%;
    height: 30%;

    transform: translateX(150%);
}

.mision, .valores{
    width: 30%;
    height: 110%;

    transform: translateX(-150%);
}

.mision, .valores, .origenes{
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    opacity: 0;
    transition: all 900ms ease-in-out;
}


/* estilos de la seccion de contacto */

footer{
    height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

footer h4{
    text-decoration-line: underline;
    margin: 0;
    padding-top: 1rem;
    font-size: 3rem;
}
footer h5{
    font-size: 2rem;
}

footer .contactos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    line-height: 30px;
}

/*diseno button up inicio*/

.up{
    position: fixed;
    bottom: 41%;
    left: 95%;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 100% 100% 10% 100%;
    cursor: pointer;
    transition: all 500ms ease;
}

.up:hover{
    transform: scale(1.09);
    background-color: #000000;
}

.no-display-up{
    display: none;
}

.display-up{
    display: block;
}



/* estilos del diseno resposive */

@media only screen and (max-width: 600px){
    .up{
        bottom: 41%;
        left: 85%;
    }

    /* reponsive servisio */
    .card-servicios{
        flex-direction: column;
    }

    .card-servicios img{
        width: 100%;
    }

    .card-servicios article{
        width: 100%;
    }

    .servicio-title{
        margin: 0;
        position: unset;
        width: 80%;
        word-wrap: normal;
        top: unset;
        margin-bottom: 1rem;
    }

    .form-container{
        margin: 10px;
    }

    form{
        width: 80%;
    }

    /* responsive nosotros */

    .nosotros{
        margin-bottom: 10px;
    }
    .nosotros-title{
        margin: 0;
        position: unset;
        width: 80%;
        background-color: black;
        top: unset;
    }

    .origenes{
        width: 100%;
        margin-bottom: 10px;
    }

    .nosotros-container{
        flex-direction: column;
    }

    .mision, .valores{
        width: 100%;
        margin-bottom: 10px;
    }
    /* responsive contactos */

    footer .contactos-container{
        flex-direction: column;
    }
}


/* estilos de los efectos de jsvascript */

.transition{
    opacity: 1;
    transform: translateX(0%);
}
